<ul class="navbar-nav bd-navbar-nav flex-row">
  <li class="nav-item">
    {% if tab == 'applications'%}
    <a class="nav-link active" href="/air/applications">Admin</a>
    {% else %}
    <a class="nav-link" href="/air/applications">Admin</a>
    {% end %}
  </li>

  <li class="nav-item">
    {% if tab == 'stats'%}
    <a class="nav-link active" href="/air/stats/">Stats</a>
    {% else %}
    <a class="nav-link" href="/air/stats/">Stats</a>
    {% end %}
  </li>

  <li class="nav-item">
    {% if tab == 'info'%}
    <a class="nav-link active" href="/air/info/">Server Info</a>
    {% else %}
    <a class="nav-link" href="/air/info/">Server Info</a>
    {% end %}
  </li>
</ul>
